<p><%= @article.title %></p>
<br />
<p><%= @article.content %></p>
<br />
<p><%= link_to "Edit this article", edit_article_path(@article) %></p>
<br />
<p><%= link_to "Back to all Articles", root_path %></p>

